// main palette
$color-primary: #321c45;
$color-secondary: #807588;

$color-success: #358873;
$color-info: #409eff;
$color-warning: #fc6c14;
$color-error: #e62739;

// background colors
$background-root: #f2f1f5;
$background-form: #dedede;
$background-white: #ffffff;
$background-success: #b4d6c1;
$background-info: #cde0f7;
$background-warning: #fce6c2;
$background-error: #f8c3c8;